{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Negan</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1c2clGO51-1lGDAkuhYfR1tfzQcpJMOCMjn82F0Z-UzE/edit#gid=997669315" target="_blank">Original Spreadsheet</a></p>
    </div>

    <style>
        .charNavbar {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .charNavbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 8px 12px;
            font-size: 16px;
        }

        .charNavbar a:hover {
            background: #f1f1f1;
            color: black;
        }

        .charNavbar a.active {
            background-color: #4CAF55;
            color: white;
        }

        .comboTable {
            margin-bottom: 80px;
        }

        .charNavbar .icon {
            display: none;
        }

        @media screen and (max-width: 600px) {
            .charNavbar a:not(:first-child) {display: none;}
            .charNavbar a.icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 600px) {
            .charNavbar.responsive .icon {
                position: absolute;
                right: 0;
                bottom:0;
            }
            .charNavbar.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: separate;
            border-spacing: 0px;
            width: 100%;
        }

        td {
            border: 1px solid black;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: #F6F6F6
        }

        th {
            border: 1px solid white;
            color: white;
            background-color: #000000;
            position: sticky;
            top: 0;
        }

        th div {
            height: 28px;
            overflow: hidden;
        }

        tr.noBorder td {
            border: 0;
        }

        .hoverBody tr:hover td{
            background-color: #ffff99;
            color: black;
        }
    </style>

    <div class="comboTable">
        <table id="comboTable">
            <tbody style="text-align:center;">
                <tr class="noBorder" style="background-color:#999999;color:white;">
                    <td><a target="_blank" rel="noopener noreferrer" href="https://puu.sh/BuaLD/2d4bee29b1.png" style="color:white;">https://puu.sh/BuaLD/2d4bee29b1.png</a></td>
                    <td></td>
                    <td>For people that are used to numeric notation but not western Tekken notation.</td>
                </tr>
                <tr style="background-color:#6D6D6D;color:white">
                    <td colspan="3"><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=Qwc1ts4AuGw" style="color:white;">Coorejam's Day 1 Negan Combos</a></td>
                </tr>
            </tbody>
            <tbody class="hoverBody" id="combo" style="text-align:center;"></tbody>
        </table>
    </div>

    <!-- Bottom navigation bar -->
    <div class="charNavbar" id="myCharNavbar">
        <a href="{% url 'compendiums-negan' %}">Movelist</a>
        <a href="{% url 'compendiums-negan-grabs' %}">Grabs</a>
        <a href="{% url 'compendiums-negan-punishment' %}">Punishment</a>
        <a href="{% url 'compendiums-negan-combos' %}" class="active">Combos</a>
        <a href="{% url 'compendiums-negan-wall' %}">Wall/Floor</a>
        <a href="#top">Return to top</a>
        <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $.getJSON("https://spreadsheets.google.com/feeds/cells/1c2clGO51-1lGDAkuhYfR1tfzQcpJMOCMjn82F0Z-UzE/4/public/full?alt=json", function (data) {

            var sheetData = data.feed.entry;

            var i;
            for (i = 3; i < sheetData.length; i+=3) {
                var combo = sheetData[i]['gs$cell']['$t'];
                var damage = sheetData[i+1]['gs$cell']['$t'];
                var notes = sheetData[i+2]['gs$cell']['$t'];

                if (combo.includes("CH ")){
                    document.getElementById('combo').innerHTML += ('<tr style="background:#E57368;">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'+notes+'</td>'+'</tr>');
                }
                else if (combo.includes("During Rage")) {
                    document.getElementById('combo').innerHTML += ('<tr style="background:#76A7FA;">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'+notes+'</td>'+'</tr>');
                }
                else if (damage.includes("Damage")){
                    document.getElementById('combo').innerHTML += ('<tr style="background:#444444;color:white;">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'+notes+'</td>'+'</tr>');
                }
                else {
                    document.getElementById('combo').innerHTML += ('<tr>'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'+notes+'</td>'+'</tr>');
                }
            }
        });
    </script>
    <script>
        function myFunction() {
            var x = document.getElementById("myCharNavbar");
            if (x.className === "charNavbar") {
                x.className += " responsive";
            } else {
                x.className = "charNavbar";
            }
        }
    </script>
{% endblock content %}
