blinker==1.3
certifi==2018.11.29
chardet==3.0.4
cloud-init==18.4
command-not-found==0.3
configobj==5.0.6
cryptography==1.2.3
decorator==4.0.6
Django==2.2.9
gspread==3.1.0
httplib2==0.12.0
idna==2.8
Jinja2==2.11.3
jsonpatch==1.10
jsonpointer==1.9
language-selector==0.1
MarkupSafe==0.23
numpy==1.11.0
oauth2client==4.1.3
oauthlib==1.0.3
prettytable==0.7.2
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycurl==7.43.0
pygobject==3.20.0
PyJWT==1.3.0
pyserial==3.0.1
python-apt==1.1.0b1+ubuntu0.16.4.2
python-debian==0.1.27
python-systemd==231
pytz==2018.9
PyYAML==3.11
requests==2.21.0
rsa==4.0
scipy==0.17.0
six==1.12.0
sqlparse==0.3.0
ssh-import-id==5.5
ufw==0.35
unattended-upgrades==0.1
urllib3==1.24.1
