{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Anna Williams</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1-_Xvi5qqcyKQJsgWw2Z32lxAT5khUngNTi7CbJS-1X0/edit#gid=289321333" target="_blank">Original Spreadsheet</a></p>
    </div>

    <iframe width="100%" height="810px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTFrTya_dL7FHisXpNCLA0L1a2Qsa8cV9A_sDABdVLsuDJfOw7qKM-83rRxnPKFK6GQedHPFnJjFlZ4/pubhtml?widget=false&amp;headers=false"></iframe>

{% endblock content %}
