{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Eliza</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1Q5cEwGeMzKiykbiHEtHk94zdQH07Igk-TqwK0omlCgY/edit#gid=0" target="_blank">Original Spreadsheet</a></p>
    </div>
    </div style = "left">
        <iframe width="100%" height="810px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRCwvHoQ-JFUumehQPt1i_1TJhL18jJCpouN3C-5-Vn74_W3dnRe6XRGP-upwAkI9sKQGeKL8l83K0p/pubhtml?widget=false&amp;headers=false"></iframe>
    </div>
{% endblock content %}
