{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Julia Chang</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1rGtcDbmz5a__Kg2pC3KROjoq7kQz6PeAA1xUHFczWMM/edit#gid=82136908" target="_blank">Original Spreadsheet</a></p>
    </div>
    </div style = "left">
        <iframe width="100%" height="810px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRMi_oP4wmXXBTiw0alub3TZbk5OjyRxb_HH9hYggLyhvkTh9fCXy9wgFWnvcvh9C1sjJb53hbSX5fo/pubhtml?widget=false&amp;headers=false"></iframe>
    </div>
{% endblock content %}
