{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Leo Kliesen</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1RJjPUou79qvMHa__dqbEQodPkCM9C9FXQqCHAjrvUgM/edit#gid=503705524" target="_blank">Original Spreadsheet</a></p>
    </div>

    <iframe width="100%" height="810px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS3KkeiubOr7Fv-9PbZFizQPJGl3DldXrN3yL3252c80C7tLiQCYB3cZlxNJ3DAPJhsrjLCuVSVFbVd/pubhtml?widget=false&amp;headers=false"></iframe>

{% endblock content %}
