{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Negan</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1c2clGO51-1lGDAkuhYfR1tfzQcpJMOCMjn82F0Z-UzE/edit#gid=997669315" target="_blank">Original Spreadsheet</a></p>
    </div>

    <iframe width="100%" height="810px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSDJhBQePN2lwhh7xV43Q59ACikDmFVABIEO5PVCOGfsg82ezA8kghqxQEIpoljmWfgFHrDAbuQSpys/pubhtml?widget=false&amp;headers=false"></iframe>

{% endblock content %}
