{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Nina Williams</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1N_XIfqnjUbaycJW90sxwAfIussRDIjLMLQsqsw2vFq4/edit#gid=1378454247" target="_blank">Original Spreadsheet</a></p>
    </div>

    <iframe width="100%" height="810px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRW6wQ-kh55tg5wUzAf6fMZwDHs_lemjsQ_nzzDQZj6ff8do-qvmnH7Szfu4xXoYjPpfiNhBAACVtnv/pubhtml?widget=false&amp;headers=false"></iframe>

{% endblock content %}
