{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Zafina</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1wEZtFimcCabBBdLH-qyKbI_mS90YZnf32Y3nH_YwHAA/edit#gid=1378454247" target="_blank">Original Spreadsheet</a></p>
    </div>

    <iframe width="100%" height="810px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRF7_VtLWfO0vDgvcttkuRl8lPzocytALZ748kfqEatfy-8e8Zpx5kcFtizEMekEaQ_NEhNyx6-G4Gs/pubhtml?widget=false&amp;headers=false"></iframe>

{% endblock content %}
