{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Zafina</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1wEZtFimcCabBBdLH-qyKbI_mS90YZnf32Y3nH_YwHAA/edit#gid=1378454247" target="_blank">Original Spreadsheet</a></p>
    </div>

    <style>
        .charNavbar {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .charNavbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 8px 12px;
            font-size: 16px;
        }

        .charNavbar a:hover {
            background: #f1f1f1;
            color: black;
        }

        .charNavbar a.active {
            background-color: #4CAF55;
            color: white;
        }

        .resourceTable {
            margin-bottom: 80px;
        }

        .charNavbar .icon {
            display: none;
        }

        @media screen and (max-width: 600px) {
            .charNavbar a:not(:first-child) {display: none;}
            .charNavbar a.icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 600px) {
            .charNavbar.responsive .icon {
                position: absolute;
                right: 0;
                bottom:0;
            }
            .charNavbar.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: separate;
            border-spacing: 0px;
            width: 100%;
        }

        td {
            border: 1px solid black;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #F6F6F6
        }

        th {
            border: 1px solid white;
            color: white;
            background-color: #000000;
            position: sticky;
            top: 0;
        }

        th div {
            height: 28px;
            overflow: hidden;
        }

        tr.noBorder td {
            border: 0;
        }
    </style>

    <div class="resourceTable">
        <table id="resourceTable">
            <tbody class="hoverBody" style="text-align:center;">
                <tr style="background:#444444;color:white;">
                    <td>Streamers</td>
                    <td>Twitch</td>
                    <td>Twitter</td>
                    <td>Youtube</td>
                </tr>
            </tbody>
            <tbody class="hoverBody" id="resource" style="text-align:center;"></tbody>
            <tbody class="hoverBody" style="text-align:center;">
                <tr><td colspan="4"></td></tr>
                <tr style="background:#444444;color:white;">
                    <td colspan="4"><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=zEys1-kYzJc" style="color:white;">
                        T7 - S3 GUIDE #1 ZAFINA by 쿨잼Coorejam</a></td>
                </tr>
                <tr style="background:#444444;color:white;">
                    <td colspan="4"><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=QTBSKmCDLgA" style="color:white;">
                        [Tekken 7] Anti-Zafina Punishment Guide by Mupaper꼬꼬마</a></td>
                </tr>
                <tr><td colspan="4"></td></tr>
                <tr style="background:#444444;color:white;">
                    <td>Player</td>
                    <td>Video</td>
                    <td>Document</td>
                    <td>Notes</td>
                </tr>
                <tr>
                    <td>Fergus</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=6QfDGrb0-eE">Tekken 7 - Zafina Tutorial</a></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1oy-ze9QQrEJaYsuCsPuVKcMJc45HxBxg3JrS972suWg/edit">Written Guide and Combos for Zafina</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>JFK</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=HD5R48UfERo">Tekken 7 Anti Zafina Tutorial</a></td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Daddy King</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=y28Ub2T-nDU">[Tekken7] ""You Come Here"" Technique Lecture with Zafina</a></td>
                    <td>-</td>
                    <td>Enable closed captions.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pulls data from google spreadsheet json and inserts it into table body. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $.getJSON("https://spreadsheets.google.com/feeds/cells/1wEZtFimcCabBBdLH-qyKbI_mS90YZnf32Y3nH_YwHAA/7/public/full?alt=json", function (data) {

            var sheetData = data.feed.entry;

            var i;
            for (i = 4; i < sheetData.length-16; i+=4) {
                var streamer = sheetData[i]['gs$cell']['$t'];
                var twitch = sheetData[i+1]['gs$cell']['$t'];
                var twitter = sheetData[i+2]['gs$cell']['$t'];
                var youtube = sheetData[i+3]['gs$cell']['$t'];

                document.getElementById('resource').innerHTML += ('<tr>'+'<td>'+streamer+'</td>'+'<td>'
                    +'<a href="'+twitch+'" target="_blank" rel="noopener noreferrer">'+twitch+'</a>'+'</td>'+'<td>'
                    +'<a href="'+twitter+'" target="_blank" rel="noopener noreferrer">'+twitter+'</a>'+'</td>'+'<td>'
                    +'<a href="'+youtube+'" target="_blank" rel="noopener noreferrer">'+youtube+'</a>'+'</td>'+'</tr>');
            }
        });
    </script>

    <!-- Bottom navigation bar -->
    <div class="charNavbar" id="myCharNavbar">
        <a href="{% url 'compendiums-zafina' %}">Movelist</a>
        <a href="{% url 'compendiums-zafina-grabs' %}">Grabs</a>
        <a href="{% url 'compendiums-zafina-punishment' %}">Punishment</a>
        <a href="{% url 'compendiums-zafina-combos' %}">Combos</a>
        <a href="{% url 'compendiums-zafina-wall' %}">Wall/Floor</a>
        <a href="{% url 'compendiums-zafina-oki' %}">Followups/Oki</a>
        <a href="{% url 'compendiums-zafina-resource' %}" class="active">Players/Resources</a>
        <a href="#top">Top</a>
        <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myCharNavbar");
            if (x.className === "charNavbar") {
                x.className += " responsive";
            } else {
                x.className = "charNavbar";
            }
        }
    </script>
{% endblock content %}
