{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Eliza</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1Q5cEwGeMzKiykbiHEtHk94zdQH07Igk-TqwK0omlCgY/edit#gid=0" target="_blank">Original Spreadsheet</a></p>
    </div>

    <style>
        .charNavbar {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .charNavbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 8px 12px;
            font-size: 16px;
        }

        .charNavbar a:hover {
            background: #f1f1f1;
            color: black;
        }

        .charNavbar a.active {
            background-color: #4CAF55;
            color: white;
        }

        .comboTable {
            margin-bottom: 40px;
        }

        .charNavbar .icon {
            display: none;
        }

        @media screen and (max-width: 700px) {
            .charNavbar a:not(:first-child) {display: none;}
            .charNavbar a.icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 700px) {
            .charNavbar.responsive .icon {
                position: absolute;
                right: 0;
                bottom:0;
            }
            .charNavbar.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: separate;
            border-spacing: 0px;
            width: 100%;
        }

        td {
            border: 1px solid black;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: #F6F6F6
        }

        th {
            border: 1px solid white;
            color: white;
            background-color: #000000;
            position: sticky;
            top: 0;
        }

        th div {
            height: 28px;
            overflow: hidden;
        }

        tr.noBorder td {
            border: 0;
        }

        tr:hover {
            background-color: #FFFF99;
        }
    </style>

    <div class="comboTable">
        <table id="comboTable">
            <tbody style="text-align:center;">
                <tr class="noBorder" style="background-color:#999999;color:white;">
                    <td><a target="_blank" rel="noopener noreferrer" href="https://puu.sh/BuaLD/2d4bee29b1.png" style="color:white;">https://puu.sh/BuaLD/2d4bee29b1.png</a></td>
                    <td></td>
                    <td>For people that are used to numeric notation but not western Tekken notation.</td>
                </tr>
                <tr style="background-color:#6D6D6D;color:white">
                    <td colspan="3">
                        <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/aUHMcQPN4Zs" style="color:white;">철권7 시즌3 콤보 가이드 #45 엘리자 S3 Combo Guide by Coorejam</a>
                    </td>
                </tr>
                <tr style="background-color:#6D6D6D;color:white">
                    <td colspan="3">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=zVOOvQTHh7Q" style="color:white;">Tekken 7 | Eliza Season 3 Max Damage Combos by Shene</a>
                    </td>
                </tr>
                <tr style="background-color:#6D6D6D;color:white">
                    <td colspan="3">Can replace b+3,1 with b4~qcb+1 for same damage. Can change (dash MG 1,2,1+2) ender to MG 3,3 for 2 less damage.</td>
                </tr>
            </tbody>
            <tbody class="hoverBody" id="combos" style="text-align:center;"></tbody>
        </table>
    </div>

    <!-- Bottom navigation bar -->
    <div class="charNavbar" id="myCharNavbar">
        <a href="{% url 'compendiums-eliza' %}">Movelist</a>
        <a href="{% url 'compendiums-eliza-grabs' %}">Grabs</a>
        <a href="{% url 'compendiums-eliza-punishment' %}">Punishment</a>
        <a href="{% url 'compendiums-eliza-combos' %}" class="active">Combos</a>
        <a href="{% url 'compendiums-eliza-wall' %}">Wall/Floor</a>
        <a href="{% url 'compendiums-eliza-resource' %}">Players/Resources</a>
        <a href="#top">Top</a>
        <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <!-- Pulls data from google spreadsheet json and inserts it into table body. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $.getJSON("https://spreadsheets.google.com/feeds/cells/1uPAwo9chyWpdukDIqqERYs34zKYC6M8IH8Gk6olDCwI/20/public/full?alt=json", function (data) {

            var sheetData = data.feed.entry;

            var i;
            for (i = 5; i < sheetData.length; i+=3) {
                var combo = sheetData[i]['gs$cell']['$t'];
                var damage = sheetData[i+1]['gs$cell']['$t'];
                var notes = sheetData[i+2]['gs$cell']['$t'];

                if (combo.includes("CH ") && damage.includes("Damage")){
                    if (sheetData[i+2]['gs$cell']['inputValue'].includes("HYPERLINK")) {
                        var url = /"(.*?)"/.exec(sheetData[i+2]['gs$cell']['inputValue'])[1];
                        document.getElementById('combos').innerHTML += ('<tr style="background:#E57368;">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'
                            +'<a href="'+url+'" target="_blank" rel="noopener noreferrer" style="color:black">'+notes+'</a>'+'</td>'+'</tr>');
                    }
                    else {
                        document.getElementById('combos').innerHTML += ('<tr style="background:#E57368;">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'+notes+'</td>'+'</tr>');
                    }
                }
                else if (combo.includes("super") || combo.includes("Super")){
                    if (sheetData[i+2]['gs$cell']['inputValue'].includes("HYPERLINK")) {
                        var url = /"(.*?)"/.exec(sheetData[i+2]['gs$cell']['inputValue'])[1];
                        document.getElementById('combos').innerHTML += ('<tr style="background:#674EA7;color:white">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'
                            +'<a href="'+url+'" target="_blank" rel="noopener noreferrer">'+notes+'</a>'+'</td>'+'</tr>');
                    }
                    else {
                        document.getElementById('combos').innerHTML += ('<tr style="background:#674EA7;color:white">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'+notes+'</td>'+'</tr>');
                    }
                }
                else if (combo.includes("During Rage")) {
                    document.getElementById('combos').innerHTML += ('<tr style="background:#76A7FA;">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'+notes+'</td>'+'</tr>');
                }
                else if (combo.includes("Guaranteed Hits")) {
                    document.getElementById('combos').innerHTML += ('<tr style="background:#CCCCCC;">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'+notes+'</td>'+'</tr>');
                }
                else if (damage.includes("Damage")){
                    if (sheetData[i+2]['gs$cell']['inputValue'].includes("HYPERLINK")) {
                        var url = /"(.*?)"/.exec(sheetData[i+2]['gs$cell']['inputValue'])[1];
                        document.getElementById('combos').innerHTML += ('<tr style="background:#444444;color:white;">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'
                            +'<a href="'+url+'" target="_blank" rel="noopener noreferrer" style="color:white">'+notes+'</a>'+'</td>'+'</tr>');
                    }
                    else {
                        document.getElementById('combos').innerHTML += ('<tr style="background:#444444;color:white;">'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'+notes+'</td>'+'</tr>');
                    }
                }
                else {
                    if (sheetData[i+2]['gs$cell']['inputValue'].includes("HYPERLINK")) {
                        var url = /"(.*?)"/.exec(sheetData[i+2]['gs$cell']['inputValue'])[1];
                        document.getElementById('combos').innerHTML += ('<tr>'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'
                            +'<a href="'+url+'" target="_blank" rel="noopener noreferrer">'+notes+'</a>'+'</td>'+'</tr>');
                    }
                    else {
                        document.getElementById('combos').innerHTML += ('<tr>'+'<td>'+combo+'</td>'+'<td>'+damage+'</td>'+'<td>'+notes+'</td>'+'</tr>');
                    }
                }
            }
        });
    </script>
    <script>
        function myFunction() {
            var x = document.getElementById("myCharNavbar");
            if (x.className === "charNavbar") {
                x.className += " responsive";
            } else {
                x.className = "charNavbar";
            }
        }
    </script>
{% endblock content %}
