{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Nina Williams</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1N_XIfqnjUbaycJW90sxwAfIussRDIjLMLQsqsw2vFq4/edit#gid=1378454247" target="_blank">Original Spreadsheet</a></p>
    </div>

    <style>
        .charNavbar {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .charNavbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 8px 12px;
            font-size: 16px;
        }

        .charNavbar a:hover {
            background: #f1f1f1;
            color: black;
        }

        .charNavbar a.active {
            background-color: #4CAF55;
            color: white;
        }

        .wallTable {
            margin-bottom: 40px;
        }

        .charNavbar .icon {
            display: none;
        }

        @media screen and (max-width: 700px) {
            .charNavbar a:not(:first-child) {display: none;}
            .charNavbar a.icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 700px) {
            .charNavbar.responsive .icon {
                position: absolute;
                right: 0;
                bottom:0;
            }
            .charNavbar.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: separate;
            border-spacing: 0px;
            width: 100%;
        }

        td {
            border: 1px solid black;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #F6F6F6
        }

        th {
            border: 1px solid white;
            color: white;
            background-color: #000000;
            position: sticky;
            top: 0;
        }

        th div {
            height: 28px;
            overflow: hidden;
        }

        tr.noBorder td {
            border: 0;
        }

        tr:hover {
            background-color: #ffff99;
        }
    </style>

    <div class="wallTable">
        <table id="wallTable">
            <tbody class="hoverBody" id="combo" style="text-align:center;">
                <tr style="background:#444444;color:white;">
                    <td>W!</td>
                    <td>Damage</td>
                    <td>Notes</td>
                </tr>
                <tr class="noBorder" style="background-color:#999999;color:white;"><td>Using f+1+2 as splat:</td><td colspan="2"></td></tr>
                <tr>
                    <td>d/f+3,2 > 1+4</td>
                    <td>48</td>
                    <td>Can replace d/f+3,2 with SS+1~b~d/f+1 for 1 extra damage.</td>
                </tr>
                <tr>
                    <td>d/f+3,2 > u/f+3</td>
                    <td>51</td>
                    <td>Can replace d/f+3,2 with SS+1~b~d/f+1 for 1 extra damage.</td>
                </tr>
                <tr>
                    <td>d/f+3,2 > f+1+2</td>
                    <td>53</td>
                    <td>Can replace d/f+3,2 with SS+1~b~d/f+1 for 1 extra damage.</td>
                </tr>
                <tr>
                    <td>2 > d/f+1,2,1+2</td>
                    <td>54</td>
                    <td></td>
                </tr>
                <tr>
                    <td>SSU+1~b~SSU+1~F+2</td>
                    <td>56</td>
                    <td></td>
                </tr>
                <tr>
                    <td>SS+1~b~d/f+1,2,1+2</td>
                    <td>57</td>
                    <td></td>
                </tr>
                <tr>
                    <td>SSU+1~b~SSU+1~b~1,2,1+2</td>
                    <td>59</td>
                    <td>U == Up.</td>
                </tr>

                <tr style="background:#444444;color:white;">
                    <td>Wall Resplat</td>
                    <td>Damage</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=mnPRog87WN8" style="color:white;">AFriendlyTree's Wall Resplat Demonstration</a></td>
                </tr>
                <tr>
                    <td>qcf+2 > W! > BD qcf+1 > W! > SS+1~b~d/f+1,2,1+2</td>
                    <td>66</td>
                    <td></td>
                </tr>
                <tr>
                    <td>f+1+2 > W! > SS+1~b~u/f+4 > W! > SS+1~b~d/f+1,2,1+2</td>
                    <td>68</td>
                    <td></td>
                </tr>
                <tr>
                    <td>f+3 (close) > W! > SSR+1~b~u/f+4 > W! > SS+1~b~d/f+1,2,1+2</td>
                    <td>74</td>
                    <td></td>
                </tr>
                <tr>
                    <td>f+3 (mid/far) > W! > BD qcf+4,2,3 > W! > SS+1~b~d/f+1,2,1+2</td>
                    <td>75</td>
                    <td>Can do 2 > d/f+1,2,1+2 for 1 less damage but easier to land.</td>
                </tr>
                <tr>
                    <td>f+4,4 > W! > SSR+1~b~u/f+4 > W! > SSL+1~b~d/f+1,2,1+2</td>
                    <td>75</td>
                    <td></td>
                </tr>
                <tr>
                    <td>d/f+3,f+4 > SSL+1~b~u/f+4 > S! > SS+1~b~d/f+1,2,1+2</td>
                    <td>77</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3,4 > W! > SSL+1~b~u/f+4 > W! > SS+1~b~d/f+1,2,1+2</td>
                    <td>78</td>
                    <td></td>
                </tr>

                <tr style="background:#444444;color:white;">
                    <td>Wall Bounce (f,F+1+2)</td>
                    <td>Damage</td>
                    <td>Notes</td>
                </tr>
                <tr>
                    <td>qcf+1 > W!</td>
                    <td>40 + *</td>
                    <td>For close to closeish-medium wall bounce.</td>
                </tr>
                <tr>
                    <td>u/f+4 > W!</td>
                    <td>42 + *</td>
                    <td>For medium wall bounce.</td>
                </tr>
                <tr>
                    <td>qcf+2 > W!</td>
                    <td>43 + *</td>
                    <td>For medium to far wall bounce.</td>
                </tr>
                <tr style="background:#444444;color:white;">
                    <td>Floor Break Moves</td>
                    <td></td>
                    <td>Notes</td>
                </tr>
                <tr><td>1+4</td><td></td><td></td></tr>
                <tr><td>f+2,1,2</td><td></td><td></td></tr>
                <tr><td>f+4,3,3</td><td></td><td></td></tr>
                <tr><td>d/f+3,4,3+4</td><td></td><td></td></tr>
                <tr><td>d+3,4,3 and 3,3,4,3</td><td></td><td></td></tr>
                <tr><td>d+3+4</td><td></td><td>Won't floor break if they're fully grounded.</td></tr>
                <tr><td>b+3</td><td></td><td></td></tr>
                <tr><td>u/f+1</td><td></td><td></td></tr>
                <tr><td>u/f+2,1</td><td></td><td></td></tr>
                <tr><td>u/f*+4</td><td></td><td></td></tr>
                <tr><td>WS+1,4</td><td></td><td></td></tr>
                <tr><td>d/f,d/f+1</td><td></td><td></td></tr>

            </tbody>
        </table>
    </div>

    <!-- Bottom navigation bar -->
    <div class="charNavbar" id="myCharNavbar">
        <a href="{% url 'compendiums-nina' %}">Movelist</a>
        <a href="{% url 'compendiums-nina-grabs' %}">Grabs</a>
        <a href="{% url 'compendiums-nina-punishment' %}">Punishment</a>
        <a href="{% url 'compendiums-nina-combos' %}">Combos</a>
        <a href="{% url 'compendiums-nina-wall' %}" class="active">Wall/Floor</a>
        <a href="{% url 'compendiums-nina-resource' %}">Players/Resources</a>
        <a href="#top">Top</a>
        <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myCharNavbar");
            if (x.className === "charNavbar") {
                x.className += " responsive";
            } else {
                x.className = "charNavbar";
            }
        }
    </script>
{% endblock content %}
