{% extends "compendiums/base.html" %}
{% block content %}
    <div style="text-align:center">
        <h1>Nina Williams</h1>
        <p><a href="https://docs.google.com/spreadsheets/d/1N_XIfqnjUbaycJW90sxwAfIussRDIjLMLQsqsw2vFq4/edit#gid=1378454247" target="_blank">Original Spreadsheet</a></p>
    </div>

    <style>
        .charNavbar {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .charNavbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 8px 12px;
            font-size: 16px;
        }

        .charNavbar a:hover {
            background: #f1f1f1;
            color: black;
        }

        .charNavbar a.active {
            background-color: #4CAF55;
            color: white;
        }

        .resourceTable {
            margin-bottom: 80px;
        }

        .charNavbar .icon {
            display: none;
        }

        @media screen and (max-width: 600px) {
            .charNavbar a:not(:first-child) {display: none;}
            .charNavbar a.icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 600px) {
            .charNavbar.responsive .icon {
                position: absolute;
                right: 0;
                bottom:0;
            }
            .charNavbar.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: separate;
            border-spacing: 0px;
            width: 100%;
        }

        td {
            border: 1px solid black;
            padding: 8px;
        }

        th {
            border: 1px solid white;
            color: white;
            background-color: #000000;
            position: sticky;
            top: 0;
        }

        th div {
            height: 28px;
            overflow: hidden;
        }

        tr.noBorder td {
            border: 0;
        }
    </style>

    <div class="resourceTable">
        <table id="resourceTable">
            <tbody class="hoverBody" id="combo" style="text-align:center;">
                <tr style="background:#444444;color:white;">
                    <td>Streamers</td>
                    <td>Twitch</td>
                    <td>Twitter</td>
                    <td>Youtube</td>
                </tr>
                <tr>
                    <td>AFriendlyTree</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.twitch.tv/afriendlytree">https://www.twitch.tv/afriendlytree</a></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/AFriendlyTree">https://twitter.com/AFriendlyTree</a></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCSRzwAQrLpmRHitZ7Ma2SRg/">https://www.youtube.com/channel/UCSRzwAQrLpmRHitZ7Ma2SRg/</a></td>
                </tr>
                <tr>
                    <td>Noname (노네임)</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.twitch.tv/noname_song">https://www.twitch.tv/noname_song</a></td>
                    <td></td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCO2AivxYZu9dkY4DhLpwIbQ">https://www.youtube.com/channel/UCO2AivxYZu9dkY4DhLpwIbQ</a></td>
                </tr>
                <tr><td colspan="4"></td></tr>
                <tr style="background:#444444;color:white;">
                    <td colspan="4"><a target="_blank" rel="noopener noreferrer" href="http://www.tekkenzaibatsu.com/forums/showthread.php?threadid=132791" style="color:white;">
                        Tekken Zaibatsu combo thread.</a>
                    </td>
                </tr>
                <tr style="background:#444444;color:white;">
                    <td colspan="4"><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=FB9j6gDANio" style="color:white;">쿨잼Coorejam's Staple Nina Combos S3</a></td>
                </tr>
                <tr style="background:#444444;color:white;">
                    <td colspan="4"><a target="_blank" rel="noopener noreferrer" href="http://www.tekkenzaibatsu.com/wiki/Intro_to_T7_Nina_Guide" style="color:white;">Intro to T7 Nina Guide</a></td>
                </tr>
                <tr style="background:#444444;color:white;">
                    <td colspan="4"><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=wmDDEEpcgEk" style="color:white;">Time 2 Die's Season 2 Combo Video</a></td>
                </tr>
                <tr style="background:#444444;color:white;">
                    <td colspan="4">
                        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1bIH3MXFrfqoFnHvd6qkDIH9HXZDKjsRbjC5DgVftsEA/edit" style="color:white;">
                        Comprehensive Nina Guide</a>
                    </td>
                </tr>
                <tr><td colspan="4"></td></tr>
                <tr style="background:#444444;color:white;">
                    <td>Player</td>
                    <td>Video</td>
                    <td>Document</td>
                    <td>Notes</td>
                </tr>
                <tr>
                    <td rowspan="3">Noname (노네임)</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=wm4A64mwsRE">Knowing Nina's Moves</a></td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=P3-jfuIsjAE">Nina's Combos</a></td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=HnHR-33R6e0">Maneuvering with Nina</a></td>
                    <td>-</td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>

    <!-- Bottom navigation bar -->
    <div class="charNavbar" id="myCharNavbar">
        <a href="{% url 'compendiums-nina' %}">Movelist</a>
        <a href="{% url 'compendiums-nina-grabs' %}">Grabs</a>
        <a href="{% url 'compendiums-nina-punishment' %}">Punishment</a>
        <a href="{% url 'compendiums-nina-combos' %}">Combos</a>
        <a href="{% url 'compendiums-nina-wall' %}">Wall/Floor</a>
        <a href="{% url 'compendiums-nina-resource' %}" class="active">Players/Resources</a>
        <a href="#top">Top</a>
        <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myCharNavbar");
            if (x.className === "charNavbar") {
                x.className += " responsive";
            } else {
                x.className = "charNavbar";
            }
        }
    </script>
{% endblock content %}
